<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Password reset for Paddyseedexpert user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
</head>

<body>

	<br/><br/>
	
	<div class="container my-5" th:if="${isError}">
		<h2>Oops!!!</h2>
		<br/><br/>
		The link you're trying got expired or incorrect. Kindly retry the process...
	</div>
	
	<div class="container my-5" th:if="${!isError}">
		<h3>User security credentials</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-9">
				
				 <form action="#" th:action="@{/userProfileController/reset_status}" name="reset_form" th:object="${user}" method="post">
                        <div class="row">
                        	<div id="secondLayerSecurity">
								<div class="form-group col-md-15">
									<b><label for="name" class="col-form-label">Security Question</label></b>
									<br/><span th:utext="*{secureQuestion}"></span>
                            	</div>
                            	<div class="form-group col-md-15">
									<b><label for="secureAnswer" class="col-form-label">Security Answer</label></b>
									<br/><input type="text" id="secureAnswer" placeholder="Enter your answer here" required value="" />
									<span id="secureAnswerError" class="text-danger"></span>
								</div>
								<div class="form-group col-md-15" th:if="${isResetPasswordScenario}">
									<b><label for="currentPassword" class="col-form-label">Current Password</label></b>
									<br/><input type="password" id="currentPassword" placeholder="Enter your current password here" required value="" />
									<span id="currentPasswordError" class="text-danger"></span>
									<br/><div><input type="checkbox" id="currentPasswordCheckbox"/>&nbsp;&nbsp;&nbsp;<span id="currentPasswordToggleText">Show Password</span></div>
								</div>
								<div class="form-group col-md-8">
									<input type="submit" class="btn btn-primary" value="Continue" onClick="return validateForm(event)" />
								</div>
                            </div>
                            
                            <div id ="passwordSetup" style="display:none">
                            	<div class="form-group col-md-12">
									<b><label for="password" class="col-form-label">Password</label></b>
									<input type="password" class="form-control" id="password" placeholder="Enter new password here" value="" />
									<input type="hidden" th:field="*{password}" class="form-control" id="passwordObj">
									<span id="passwordError" class="text-danger"></span>
									<br/><div><input type="checkbox" id="passwordCheckbox"/>&nbsp;&nbsp;&nbsp;<span id="passwordToggleText">Show Password</span></div>
                            	</div>
                            	<div class="form-group col-md-12">
									<b><label for="confirmPassword" class="col-form-label">Confirm Password</label></b>
									<input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter new password here" value="" />
									<input type="hidden" th:field="*{confirmPassword}" class="form-control" id="confirmPasswordObj">
									<span id="confirmPasswordError" class="text-danger"></span>
									<br/><div><input type="checkbox" id="confirmPasswordCheckbox" />&nbsp;&nbsp;&nbsp;<span id="confirmPasswordToggleText">Show Password</span></div>
                            	</div>
                            	<div class="form-group col-md-8">
                            		<input type="hidden" th:field="*{id}" class="form-control" id="idObj">
									<input type="submit" class="btn btn-primary" value="Reset" onClick="return validateForm(event)" />
								</div>
                            </div>
                            
                        </div>
                    </form>
                    
                    <script th:inline="javascript">
                    /*<![CDATA[*/
		
		                    var resetForm = document.forms["reset_form"];
		                    var secureAnswerError = document.getElementById('secureAnswerError');
		                    var password = document.getElementById('password');
		                    var passwordError = document.getElementById('passwordError');
		                    var confirmPassword = document.getElementById('confirmPassword');
		                    var confirmPasswordError = document.getElementById('confirmPasswordError');
		                    var passwordCheckbox = document.getElementById('passwordCheckbox');
		                    var confirmPasswordCheckbox = document.getElementById('confirmPasswordCheckbox');
		                    var currentPasswordCheckbox = document.getElementById('currentPasswordCheckbox');
		                    var currentPassword = document.getElementById('currentPassword');
		                    var currentPasswordError = document.getElementById('currentPasswordError');
		                    var isResetPasswordScenario = /*[[${isResetPasswordScenario}]]*/ false;
		
		                    history.pushState(null, null, document.URL);
		                    window.addEventListener('popstate', function() {
		                    	history.pushState(null, null, document.URL);
		                    });
		
		                    document.getElementById('secureAnswer').onkeyup = function(e) {
		                    	secureAnswerError.innerHTML = "";
		                    };
		
		                    password.onkeyup = function(e) {
		                    	passwordError.innerHTML = "";
		                    	confirmPasswordError.innerHTML = "";
		                    };
		
		                    confirmPassword.onkeyup = function(e) {
		                    	passwordError.innerHTML = "";
		                    	confirmPasswordError.innerHTML = "";
		                    };
		
		                    if (isResetPasswordScenario) {
		                    	currentPassword.onkeyup = function(e) {
		                    		currentPasswordError.innerHTML = "";
		                    	};
		
		                    	currentPasswordCheckbox.addEventListener('change', function(e) {
		                    		if (currentPassword.type == "password") {
		                    			currentPassword.type = "text";
		                    		} else {
		                    			currentPassword.type = "password";
		                    		}
		                    		e.preventDefault();
		                    	});
		                    }
		
		                    confirmPasswordCheckbox.addEventListener('change', function(e) {
		                    	if (confirmPassword.type == "password") {
		                    		confirmPassword.type = "text";
		                    	} else {
		                    		confirmPassword.type = "password";
		                    	}
		                    	e.preventDefault();
		                    });
		
		                    passwordCheckbox.addEventListener('change', function(e) {
		                    	if (password.type == "password") {
		                    		password.type = "text";
		                    	} else {
		                    		password.type = "password";
		                    	}
		                    	e.preventDefault();
		                    });
		
		
		                    function validateForm(e) {
		
		                    	var target = event.target;
		                    	secureAnswerError.innerHTML = "";
		
		                    	if ((target.tagName == "INPUT") && (target.type == "submit")) {
		
		                    		if (target.value == "Continue") {
		                    			var serverAnswer = /*[[${user.secureAnswer}]]*/ 'default-answer';
		                    			var currentPass = /*[[${user.password}]]*/ 'current-password';
		                    			isResetPasswordScenario = /*[[${isResetPasswordScenario}]]*/ false;
		                    			var clientAnswer = document.getElementById('secureAnswer').value;
		
		                    			if (isValidSecurityAnswer(clientAnswer, serverAnswer, secureAnswerError)) {
		
		                    				if (clientAnswer == serverAnswer && !isResetPasswordScenario) {
		                    					showNewPasswordCreateView();
		                    					return false;
		                    				} else if (isResetPasswordScenario) {
		                    					var currentPasswordValue = currentPassword.value;
		                    					if (currentPasswordValue === undefined || currentPasswordValue.trim() === "") {
		                    						currentPasswordError.innerHTML = "Password should not be empty or blank";
		                    						return false;
		                    					} else if (currentPasswordValue != currentPass) {
		                    						currentPasswordError.innerHTML = "Wrong answer";
		                    						return false;
		                    					} else {
		                    						showNewPasswordCreateView();
		                    						return false;
		                    					}
		                    				}
		
		                    			} else {
		                    				return false;
		                    			}
		                    		} else {
		                    			var passwordValue = password.value;
		                    			var confirmPasswordValue = confirmPassword.value;
		
		                    			if (passwordValue === undefined || confirmPasswordValue === undefined) {
		                    				passwordError.innerHTML = "Password should not be blank";
		                    				confirmPasswordError.innerHTML = "Password should not be blank";
		                    				return false;
		                    			} else if (passwordValue.trim() === "" || confirmPasswordValue.trim() === "") {
		                    				passwordError.innerHTML = "Password should not be empty";
		                    				confirmPasswordError.innerHTML = "Password should not be empty";
		                    				return false;
		                    			} else if (passwordValue == confirmPasswordValue) {
		                    				document.getElementById('passwordObj').value = password.value
		                    				document.getElementById('confirmPasswordObj').value = confirmPassword.value
		                    				return true;
		                    			} else {
		                    				passwordError.innerHTML = "Password mismatch";
		                    				confirmPasswordError.innerHTML = "Password mismatch";
		                    				return false;
		                    			}
		                    		}
		
		                    	} else {
		                    		return false;
		                    	}
		
		                    }
		
		                    function isValidSecurityAnswer(clientAnswer, serverAnswer, secureAnswerError) {
		                    	if (clientAnswer === undefined || clientAnswer.trim() === "") {
		                    		secureAnswerError.innerHTML = "Answer should not be empty or blank";
		                    		return false;
		                    	} else if (clientAnswer != serverAnswer) {
		                    		secureAnswerError.innerHTML = "Wrong answer";
		                    		return false;
		                    	}
		                    	return true;
		                    }
		
		                    function showNewPasswordCreateView() {
		                    	document.getElementById('secondLayerSecurity').style.display = "none";
		                    	document.getElementById('passwordSetup').style.display = "";
		                    }
		
                    /*]]>*/
                    </script>
                    
				</div>
			</div>
		</div>
	</div>

	

</body>

</html>