<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Password reset status for Paddyseedexpert user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:href="@{/js/noback.js}"></script>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}" />
</head>

<body>

	<br/><br/>
	<h3 th:text="${resetStatus}"></h3>
	<br/><br/>
	You can close this window and continue logging in our android app

</body>

</html>